<app-cart-right-bar
  *ngIf="isBodyCartRightBar"
  [isBodyCartRightBar]="isBodyCartRightBar"
  [totalItems]="totalItems"
  [foodPrice]="foodPrice"
  [cartModel]="cartModel"
  [deliveryPrice]="cartModel.deliveryPrice"
  [isDelivery]="cartModel.isDelivery"
  (onSummaryPanelVisibleChange)="onSummaryClick()"
></app-cart-right-bar>

<app-cart-footer
  *ngIf="isFooterCartVisible()"
  [isBodyCartRightBar]="isBodyCartRightBar"
  [totalItems]="totalItems"
  [foodPrice]="foodPrice"
  (onSummaryPanelVisibleChange)="onSummaryClick()"
></app-cart-footer>

<app-cart-final-summary
  [isSummaryPanelVisible]="isSummaryPanelVisible"
  (onSummaryPanelVisibleChange)="isSummaryPanelVisible = false"
></app-cart-final-summary>
