<p-card footer="Footer Content">
  <p-table #dt2 [value]="users" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
    [pageLinks]="5" [totalRecords]="totalRecords" [lazy]="true" [rowHover]="true" (onLazyLoad)="loadOrdersLazy($event)"
    [paginator]="true" [tableStyle]="{ 'min-width': '20rem' }">
    <ng-template pTemplate="caption">
      <div class="filters">
        <p-floatLabel>
          <p-calendar [(ngModel)]="selectedDates" selectionMode="range" [readonlyInput]="true" />
          <label for="birth_date">Zakres dat</label>
        </p-floatLabel>

        <p-floatLabel>
          <input pInputText id="over_label" [(ngModel)]="globalSearch" autocomplete="off"
            (onChange)="onFilterChange()" />
          <label for="over_label">Wyszkuwianie globalne</label>
        </p-floatLabel>

      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 35%">
          <app-sortable-column field="email" label="Email" [sortState]="sortState"
            (sortChanged)="onSortChanged($event)"></app-sortable-column>
          <app-sortable-column field="lastName" label="Użytkownik" [sortState]="sortState"
            (sortChanged)="onSortChanged($event)"></app-sortable-column>
        </th>
        <th style="width: 30%">
          Telefon
          <br>
          <app-sortable-column field="createdDate" label="Data utworzenia" [sortState]="sortState"
            (sortChanged)="onSortChanged($event)"></app-sortable-column>
        </th>
        <th style="width: 10%">
          <app-sortable-column field="companyAmount" label="Firm" [sortState]="sortState"
            (sortChanged)="onSortChanged($event)"></app-sortable-column>
        </th>
        <th style="width: 20%">
          <app-sortable-column field="enabled" label="Act" [sortState]="sortState"
            (sortChanged)="onSortChanged($event)"></app-sortable-column>
          <app-sortable-column field="locked" label="Ban" [sortState]="sortState"
            (sortChanged)="onSortChanged($event)"></app-sortable-column>
        </th>
        <th>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <div>{{ user.email }}</div>
          <div> {{ user.firstName + ' ' + user.lastName }}</div>
        </td>
        <td>
          <div>{{ user.phoneNumber }}</div>
          <div>{{ user.createdDate | formattedDate }}</div>
        </td>
        <td>
          {{ user.companies?.length }}
        </td>
        <td>
          <div>{{ user.enabled ? 'Tak' : 'Nie'}}</div>
          <div>{{ user.locked ? 'Tak' : 'Nie'}}</div>
        </td>
        <td> <button pButton size="small" type="button" label="Modyfikuj" [raised]="true" icon="pi pi-user-edit"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate=" emptymessage">
      <tr>
        <td></td>
        <td colspan="5">Brak użytkowników/td>
      </tr>
    </ng-template>
  </p-table>
</p-card>