.toast-message button {
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  
  .toast-message button:hover {
    background-color: #0056b3;
  }