<div class="header-custom">
    <h5>Stwórz nowy produkt</h5>
</div>

<p>Wybierz kategorie produktu</p>
<br>
<p-floatLabel>
    <p-dropdown [style]="{ width: '18rem' }" [(ngModel)]="selectedProductCategory" [options]="productCategories"
        optionLabel="name" />
    <label for="over_label">Kategoria</label>
</p-floatLabel>

<form #saveProductForm="ngForm" (ngSubmit)="saveProduct()">
    <p-floatLabel>
        <input pInputText  id="disabled-input"  [disabled]="selectedProductCategory === undefined" pInputText id="name" [(ngModel)]="product.name"
            name="name" required type="text" class="input-full-width" />
        <label for="name">Nazwa produktu</label>
    </p-floatLabel>

    <p-floatLabel>
        <input [disabled]="selectedProductCategory === undefined" pInputText id="price" name="price" required
            type="text" [(ngModel)]="product.price" class="input-full-width" />
        <label for="city">Kwota</label>
    </p-floatLabel>

    <p-floatLabel>
        <input [disabled]="selectedProductCategory === undefined" pInputText id="description" name="description"
            required type="text" [(ngModel)]="product.description" class="input-full-width" />
        <label for="description">Opis</label>
    </p-floatLabel>

    <button pButton type="button" label="Utwórz" icon="pi pi-check"
        (click)="saveProduct()" [disabled]="saveProductForm.invalid || selectedProductCategory === undefined"></button>
</form>