<p-dataView [value]="cartSummaryModel.orderProducts" layout="list">
  <ng-template let-cartItems pTemplate="list">
    <div
      class="col-12"
      *ngFor="let item of cartItems; trackBy: trackById"
      [@itemAnim]
    >
      <div class="cart-item">
        <div class="product-info">
          <div class="quantity-selector">
            <p-inputNumber
              id="quantity"
              [(ngModel)]="item.quantity"
              [min]="0"
              [max]="99"
              (onInput)="onQuantityChange(item)"
              mode="decimal"
              showButtons
              buttonLayout="horizontal"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            ></p-inputNumber>
            @if (selectedNoteOrderProductId !== item.id) { @if (item.note ===
            undefined || item.note === null || item.note === '') {
            <p-button
              [severity]="'success'"
              class="custom-text-button"
              label="Dodaj notatkę"
              [text]="true"
              (onClick)="onNoteButtonClick(item)"
            ></p-button>
            }@else {
            <p-button
              [severity]="'success'"
              class="custom-text-button"
              label="Edytuj notatke"
              [text]="true"
              (onClick)="onNoteButtonClick(item)"
            ></p-button>
            } }
          </div>
          <img
            *ngIf="imageService.getProductImageUrl(item.product.imgUrl)"
            [src]="imageService.getProductImageUrl(item.product.imgUrl)"
            [alt]="item.product?.name"
            class="big-product-image"
          />
          <div class="product-info-strings">
            <div class="big-product-name" *ngIf="item.product?.name">
              {{ item.product.name }}
            </div>
            @if (isDelivery) {
            <p>{{ item.price + (item.extraDeliveryPrice ?? 0) | pricePln }}</p>
            }@else if (cartService.isTakeaway()) {
            <p *ngIf="cartService.isTakeaway()">
              {{
                item.price + orderUtils.calculateTakeawayPrice([item])
                  | pricePln
              }}
            </p>
            } @else{
            <p style="margin-bottom: 4px">
              {{ item.price | pricePln }}
            </p>
            }

            <div class="options-container">
              @for (group of item.productPropertiesList; track group.name) {
              <div
                class="property-item"
                *ngFor="let prop of group.propertyList"
              >
                {{ prop.name }}
                <span *ngIf="prop.price">(+{{ prop.price | pricePln }})</span>
              </div>
              }
            </div>
            <div
              style="display: flex; margin-top: 6px"
              *ngIf="item.note && selectedNoteOrderProductId !== item.id"
            >
              <b style="margin-right: 2px;"> Notatka: </b>
              <p style="margin-bottom: 0">
                {{ " " + item.note }}
              </p>
            </div>
          </div>
        </div>
        <div
          *ngIf="selectedNoteOrderProductId === item.id"
          style="display: flex"
        >
          <textarea
            style="margin-top: 1.5rem; width: 100%; height: 5rem"
            [(ngModel)]="item.note"
            class="custom-textarea"
            id="float-input"
            pInputTextarea
            [maxLength]="510"
          ></textarea>
          <div style="display: flex; justify-content: center; margin-top: 1.5rem">
            <p-button
              [outlined]="true"
              class="custom-text-button"
              pButton
              severity="success"
              label="Dodaj"
              (onClick)="selectedNoteOrderProductId = undefined"
            ></p-button>
            <p-button
              [outlined]="true"
              class="custom-text-button"
              pButton
              severity="danger"
              label="Usuń"
              (onClick)="onDelteNote(item)"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="empty">
    <p>Koszyk jest pusty</p>
  </ng-template>
</p-dataView>
