<app-header-guest></app-header-guest>

<div class="container">
  <div
    *ngIf="message"
    class="message-panel"
    [ngClass]="{
      success: !message.startsWith('Change password failed'),
      error: message.startsWith('Change password failed'),
    }"
  >
    <div class="message-icon">
      <span *ngIf="!message.startsWith('Change password failed')"
        >&#10004;</span
      >
      <span *ngIf="message.startsWith('Change password failed')">&#10006;</span>
    </div>
    <div class="message-content">{{ message }}</div>
  </div>

  <div *ngIf="!isSuccess">
    <h2>Reset password</h2>
    <form (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="email">Reset password</label>
        <input
          id="email"
          name="email"
          required
          type="text"
          [(ngModel)]="request.email"
        />
      </div>
      <button type="submit">Reset password</button>
    </form>
  </div>
  <a routerLink="/login" class="link">Login</a>
</div>
