<p-card>
  <button
    pButton
    type="button"
    severity="success"
    label="Dodaj nowy produkt"
    icon="pi pi-plus-circle"
    pRipple="false"
    [autofocus]="false"
    (click)="onAddNewProductClick()"
  ></button>
  <div class="filters">
    <p-floatLabel>
      <input
        pInputText
        [style]="{ width: '20rem', height: '50px' }"
        id="over_label"
        [(ngModel)]="globalSearch"
        autocomplete="off"
        (ngModelChange)="onInputChange($event)"
      />
      <label for="over_label">Wyszkuwianie globalne</label>
    </p-floatLabel>
  </div>
  <p-table
    #dt2
    [value]="products"
    dataKey="id"
    [rows]="50"
    [rowsPerPageOptions]="[50, 100, 200]"
    [loading]="loading"
    [pageLinks]="5"
    [totalRecords]="totalRecords"
    [lazy]="true"
    (onLazyLoad)="loadProductsLazy($event)"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '20rem' }"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th>
          <app-sortable-column
            field="name"
            label="Nazwa"
            [sortState]="sortState"
            [noNoneField]="'productCategory'"
            (sortChanged)="onSortChanged($event)"
          ></app-sortable-column>
        </th>
        <th>
          <app-sortable-column
            field="productCategory"
            label="Kategoria"
            [sortState]="sortState"
            [noNoneField]="'productCategory'"
            (sortChanged)="onSortChanged($event)"
          ></app-sortable-column>
        </th>
        <th>
          <app-sortable-column
            field="price"
            label="Kwota"
            [sortState]="sortState"
            [noNoneField]="'productCategory'"
            (sortChanged)="onSortChanged($event)"
          ></app-sortable-column>
        </th>
        <th [style.width]="'30%'">Opis</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="product"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>
          <img
            *ngIf="imageService.getProductImageUrl(product.imgUrl)"
            [src]="imageService.getProductImageUrl(product.imgUrl)"
            class="small-product"
          />
        </td>
        <td>
          <div>{{ product.name }}</div>
        </td>
        <td>
          <div>{{ product.productCategory?.name }}</div>
        </td>
        <td>
          <div>{{ product.price | pricePln }}</div>
        </td>
        <td>
          <div>{{ product.description }}</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <app-menu-product-properties-expanded-table
              [productPropertiesList]="product.productPropertiesList"
            ></app-menu-product-properties-expanded-table>
            <div class="buttons">
              <button
                pButton
                severity="info"
                type="button"
                label="Modyfiuj"
                [outlined]="true"
                icon="pi pi-file-edit"
                (click)="onModifyProductButtonClick(product)"
              ></button>
              <button
                pButton
                severity="danger"
                type="button"
                label="Usuń"
                [outlined]="true"
                icon="pi pi-trash"
                (click)="onDeleteProductButtonClick(product.id)"
              ></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog
  [(visible)]="deleteProductDialogVisible"
  [header]="'Potwierdź'"
  [closable]="true"
  [modal]="true"
  [dismissableMask]="true"
>
  <p>Czy jesteś pewny, że chcesz usunąć ten produkt?</p>
  <div class="dialog-footer">
    <button
      pButton
      type="button"
      label="Nie"
      icon="pi pi-times"
      class="p-button-text custom-cancel-button"
      (click)="onCancelDeleteProduct()"
    ></button>
    <button
      pButton
      type="button"
      label="Tak"
      icon="pi pi-check"
      (click)="onApproveDeleteProduct()"
      class="custom-confirm-button"
    ></button>
  </div>
</p-dialog>

<app-new-product-two-page-panel
  *ngIf="isProductTwoPagePanelVisible"
  [productCategories]="productCategories"
  [productPropertiesList]="productPropertiesList"
  [isDialogVisible]="isProductTwoPagePanelVisible"
  [modifiedProduct]="modifiedProduct"
  (dialogVisibleChange)="dialogVisibleChange($event)"
></app-new-product-two-page-panel>
