<div class="container">
  <div class="header">
    <h2>Statystyki zamówień</h2>
  </div>
  <div class="content">
    <div class="filters">
      <p-floatLabel *ngIf="isHolding">
        <p-multiSelect
          [style]="{ width: '16rem' }"
          [maxSelectedLabels]="1"
          [(ngModel)]="selectedCompanyValues"
          [options]="companyOptions"
          placeholder="Firma"
          (onChange)="onCompanyOptionChange()"
          optionLabel="name"
        />
        <label for="over_label">Firmy</label>
      </p-floatLabel>

      <app-calendar-with-dialog
        [dateRangeOptions]="dateRangeOptions"
        [selectedDateRangeValue]="selectedDateRangeValue"
        [lastSelectedDateRangeValue]="selectedDateRangeValue"
        (onDateChange)="onDateChange($event)"
      ></app-calendar-with-dialog>

      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '12rem' }"
          [options]="datePeriodOptions"
          [(ngModel)]="selectedDatePeriodValue"
          optionLabel="translatedValue"
          placeholder="Okres"
          (onChange)="datePeriodOptionOnChange()"
        />
        <label for="float-label">Okres</label>
      </span>

      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '16rem' }"
          [options]="productOptions"
          [(ngModel)]="selectedProductValue"
          optionLabel="name"
          placeholder="Produkty"
          (onChange)="productOptionOnChange()"
          showClear="true"
        />
        <label for="float-label">Produkty</label>
      </span>

      <div class="checkbox">
        <p-checkbox
          [(ngModel)]="showEarnings"
          (onChange)="onCheckboxChange()"
          [binary]="true"
          label="Pokaż zarobki"
          inputId="binary"
        />
      </div>
    </div>

    <div>
      <canvas
        baseChart
        [data]="chartData"
        [type]="'line'"
        [options]="chartOptions"
      >
      </canvas>
    </div>
    <p-divider />

    <h6>
      Wszyskich zamówień {{ ordersCountTotal
      }}<span *ngIf="earningsTotal > 0"
        >, suma zarobków {{ earningsTotal | pricePln }}</span
      >
      </h6>
  </div>
</div>