:host {
  display: flex;
  flex-direction: column;
  align-items: center; // Ensure the container takes the full width
  width: 100%; // Take the full width of the parent container
  overflow-x: auto; // Enable horizontal scrolling when content overflows
  height: 100%;
  padding-bottom: 150px;
  padding-top: 4%;
}

.container {
  max-width: 1500px;
  width: 99%;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

// Styl nagłówka z subtelnie większym fontem i pogrubieniem
.header {
  text-align: center;
  margin-bottom: 24px;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}

.filters {
  padding: 10px;
  display: flex;
  gap: 25px 15px;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 2rem
}

.dropdown-wrapper {
  max-width: 15rem;
  min-width: 15rem;
}

.p-dropdown {
  max-width: 15rem;
  min-width: 15rem;
}

.checkbox {
  display: flex;
  align-items: center;
  /* Center horizontally */
  justify-content: center;
}

// h3 {
//   font: 400 1.25rem / 1.75rem Roboto, sans-serif;
//   letter-spacing: 0.031rem;
//   margin-left: 2rem;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-family: 'Inter', sans-serif !important; // Force Inter for all headings
// }