<!-- <app-header-guest></app-header-guest> -->

<main>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to My Food Order Processing App</h1>
            <p>Streamline your restaurant's order management with our efficient tools.</p>
            <a routerLink="/register" class="cta-button">Get Started</a>
        </div>
        <div class="hero-image-container">
            <img src="images/restaurant-order-processing.png" alt="Restaurant Order Processing" class="hero-image">
        </div>
    </section>
</main>

<!-- <app-footer></app-footer> -->