.sidebar {
    background-color: var(--primary-color1);
    width: 235px;
    padding: 5px;
    position: fixed;
    height: 100%; /* Use 100vh instead of 100% for consistent viewport height */
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 48px;
    transition: all 0.6s ease;
    overflow-y: auto; /* Add vertical scrolling for sidebar content */
}

@mixin menu-item {
    color: #d4d4d4;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 10px;
    transition: all 0.3s;
    height: 45px;

    .menu-icon {
        font-size: 20px;
        margin-right: 10px;
    }

}

.ul{
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}


.sidebar li a {
    @include menu-item;

    &:hover {
        //box-shadow: 0px 0px 20px rgba(241, 241, 241);
        background-color: var(--primary-white);
        color: #6c6c6c;

    }

    &.active {
        color: #000000;
        // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
        background-color: var(--primary-white);


        // border-radius: 5%;
    }

}


.sidebar .sub-menu {
    //list-style: circle; /* This will add square bullets specifically to sub-menus */
    color: #d4d4d4;
    margin-left: 10px;
    margin-top: 5px;
    list-style: none;
    /* Remove default bullets */

    li {
        position: relative;
        /* Necessary to position the custom bullet */
        padding-left: 13px;
        /* Space for the custom bullet */

        &::before {
            content: "•";
            /* Custom bullet, you can use "◦" for a circle */
            color: #d4d4d4;
            /* Bullet color */
            position: absolute;
            left: 0;
            /* Align to the left */
            top: 0.6em;
            /* Adjust this value to move the bullet higher relative to the text */
            font-size: 1.1em;
            /* Size of the bullet */
        }
    }
}

.collapsedSidebar li a {
    @include menu-item;
    width: 45px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-top: 5px;

    &:hover {
        box-shadow: 0px 0px 20px rgba(241, 241, 241);
        background-color: var(--primary-white);
        color: #6c6c6c;

    }

    &.active {
        color: #000000;
        // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
        background-color: var(--primary-white);


        // border-radius: 5%;
    }
}

.hiddenSidebar {
    z-index: 10;
    transition: all 0.6s ease;
}


.sidebar-menu-element-icon{
    padding-top: 3px;
    margin-left: 5px;
}