<div
  class="sidebar"
  *ngIf="isSideNavVisible"
  [ngClass]="{
    collapsedSidebar: isSideNavCollapsed && !isBodyCartRightBar,
    hiddenSidebar: isTabletView,
  }"
>
  <ul>
    <li *ngIf="hasPermissionToModule('RESTAURANT_ORDERS')">
      <a
        [routerLink]="'/restaurant-order'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: isExactForRestOrdering() }"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon pi pi-plus-circle"></span>
        <span *ngIf="displayFullVersion()" class="menu-text"
          >Nowe zamówienie</span
        >
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('RESTAURANT_ORDERS')">
      <a
        [routerLink]="'/delivery-order'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: isExactForRestOrdering() }"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon pi pi-car"></span>
        <span *ngIf="displayFullVersion()" class="menu-text">Na dowóz</span>
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('ONLINE_ORDERS')">
      <a
        [routerLink]="'/dashboard2'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: !isSideNavCollapsed }"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon pi pi-play-circle"></span>
        <span *ngIf="displayFullVersion()" class="menu-text"
          >Obsługa zamówień</span
        >
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('MENU_PANEL') && !isHolding">
      <a
        style="cursor: pointer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: !isSideNavCollapsed || isSubmenuOpen
        }"
        (click)="onMenuClick()"
      >
        <span class="menu-icon pi pi-objects-column"></span>
        <span *ngIf="displayFullVersion()" class="menu-text">Zarządzanie</span>
        <span
          *ngIf="isSideNavVisible"
          class="sub-menu-icon"
          [ngClass]="{ 'sub-menu-open': isSubmenuOpen }"
        >
          <mat-icon
            *ngIf="displayFullVersion()"
            class="sidebar-menu-element-icon"
            >{{
              isSubmenuOpen ? "keyboard_arrow_down" : "keyboard_arrow_right"
            }}</mat-icon
          >
        </span>
      </a>
      <ul *ngIf="isSubmenuOpen && isSideNavVisible" class="sub-menu">
        <li *ngIf="hasPermissionToModule('MENU_PANEL')">
          <a routerLink="/menu/products" routerLinkActive="active">
            <span class="menu-icon pi pi-book"></span>
            <span class="menu-text">Produkty</span></a
          >
        </li>
      </ul>
      <ul *ngIf="isSubmenuOpen && isSideNavVisible" class="sub-menu">
        <li *ngIf="hasPermissionToModule('MENU_PANEL')">
          <a routerLink="/menu/category" routerLinkActive="active">
            <span class="menu-icon pi pi-sitemap"></span>
            <span class="menu-text">Kategorie</span></a
          >
        </li>
      </ul>
      <ul *ngIf="isSubmenuOpen && isSideNavVisible" class="sub-menu">
        <li *ngIf="hasPermissionToModule('MENU_PANEL')">
          <a routerLink="/menu/delivery-options" routerLinkActive="active">
            <span class="menu-icon pi pi-car"></span>
            <span class="menu-text">Opcje dastawy</span></a
          >
        </li>
      </ul>
    </li>
    <li *ngIf="hasPermissionToModule('STATISTICS')">
      <a
        [routerLink]="'/statistics'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: !isSideNavCollapsed }"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon material-icons">assessment</span>
        <span *ngIf="displayFullVersion()" class="menu-text">Statystyki</span>
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('ORDERS_HISTORY')">
      <a
        [routerLink]="'/orders'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: !isSideNavCollapsed }"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon material-icons">list_alt</span>
        <span *ngIf="displayFullVersion()" class="menu-text"
          >Historia zamówień</span
        >
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('ADMIN_PANEL')">
      <a
        [routerLink]="'/admin-panel'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: !isSideNavCollapsed }"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon pi pi-crown"></span>
        <span *ngIf="displayFullVersion()" class="menu-text">Panel admina</span>
        <span
          *ngIf="isSideNavVisible"
          class="sub-menu-icon"
          [ngClass]="{ 'sub-menu-open': isSubmenuOpen }"
        >
          <mat-icon
            *ngIf="!this.isSideNavCollapsed"
            class="sidebar-menu-element-icon"
            (click)="toggleSubmenu()"
            >{{
              isSubmenuOpen ? "keyboard_arrow_down" : "keyboard_arrow_right"
            }}</mat-icon
          >
        </span>
      </a>
      <ul *ngIf="isSubmenuOpen && isSideNavVisible" class="sub-menu">
        <li *ngIf="hasPermissionToModule('SUPER_ADMIN_PANEL')">
          <a routerLink="/admin-panel/users" routerLinkActive="active">
            <span class="menu-icon pi pi-users"></span>
            <span class="menu-text">Użytkownicy</span></a
          >
        </li>
        <li *ngIf="hasPermissionToModule('SUPER_ADMIN_PANEL')">
          <a routerLink="/admin-panel/companies" routerLinkActive="active"
            ><span class="menu-icon pi pi-briefcase"></span
            ><span class="menu-text">Firmy</span></a
          >
        </li>
        <li *ngIf="hasPermissionToModule('ADMIN_PANEL')">
          <a routerLink="/admin-panel/companies/save" routerLinkActive="active"
            ><span class="menu-icon pi pi-briefcase"></span
            ><span class="menu-text">Dodaj firme</span></a
          >
        </li>
      </ul>
    </li>
    <li
      *ngIf="
        hasPermissionToModule('RESTAURANT_ORDERS') ||
        hasPermissionToModule('ONLINE_ORDERS')
      "
    >
      <a
        style="cursor: pointer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: !isSideNavCollapsed || isSubmenuOpen
        }"
        (click)="onSettingsClick()"
      >
        <span class="menu-icon pi pi-cog"></span>
        <span *ngIf="displayFullVersion()" class="menu-text">Ustawienia</span>
        <span
          *ngIf="isSideNavVisible"
          class="sub-menu-icon"
          [ngClass]="{ 'sub-menu-open': isSettingsSubmenuOpen }"
        >
          <mat-icon
            *ngIf="displayFullVersion()"
            class="sidebar-menu-element-icon"
            >{{
              isSettingsSubmenuOpen
                ? "keyboard_arrow_down"
                : "keyboard_arrow_right"
            }}</mat-icon
          >
        </span>
      </a>
      <ul *ngIf="isSettingsSubmenuOpen && isSideNavVisible" class="sub-menu">
        <li
          *ngIf="
            hasPermissionToModule('RESTAURANT_ORDERS') ||
            hasPermissionToModule('ONLINE_ORDERS')
          "
        >
          <a routerLink="/settings/bluetooth" routerLinkActive="active">
            <span class="menu-icon pi pi-print"></span>
            <span class="menu-text">Drukarka bluetooth</span></a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
