/* styles.scss */

/* Define a mixin for common styles */
@mixin menu-item {
    color: #d4d4d4;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    height: 30px;

    .menu-icon {
        font-size: 24px;
        margin-right: 10px;
    }

}

.sidebar {
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--purple-color);
    width: 200px;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    // border-radius: 10%;
    overflow-x: hidden;
    margin-top: 48px;
    transition: all 0.6s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar .toogle-menu {
    transition: all 2s ease;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.sidebar .toogle-menu3 {
    transition: all 2s ease;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.sidebar li a {
    @include menu-item;

    &:hover {
        //box-shadow: 0px 0px 20px rgba(241, 241, 241);
        background-color: rgb(241, 241, 241);
        color: #6c6c6c;

    }

    &.active {
        color: #000000;
        // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
        background-color: rgb(241, 241, 241);


        // border-radius: 5%;
    }

}

.sidebar .sub-menu {
    //list-style: circle; /* This will add square bullets specifically to sub-menus */
    color: #d4d4d4;
    margin-left: 20px;
    list-style: none;
    /* Remove default bullets */

    li {
        position: relative;
        /* Necessary to position the custom bullet */
        padding-left: 20px;
        /* Space for the custom bullet */

        &::before {
            content: "•";
            /* Custom bullet, you can use "◦" for a circle */
            color: #d4d4d4;
            /* Bullet color */
            position: absolute;
            left: 0;
            /* Align to the left */
            top: 0.6em;
            /* Adjust this value to move the bullet higher relative to the text */
            font-size: 1.2em;
            /* Size of the bullet */
        }
    }
}

.sidebar .toogle-menu {
    transition: all 2s ease;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.sidebar .toogle-menu3 {
    transition: all 2s ease;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
}

// .hideSidebar {
//     width: 25px;
//     li a {
//         color: #000000;
//         // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
//         width: 15px;
//         background-color: rgb(241, 241, 241);


//         // border-radius: 5%;
//     }
// }

.hideSidebar li a {
    @include menu-item;
    width: 26px;

    &:hover {
        //box-shadow: 0px 0px 20px rgba(241, 241, 241);
        background-color: rgb(241, 241, 241);
        color: #6c6c6c;

    }

    &.active {
        color: #000000;
        // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
        background-color: rgb(241, 241, 241);


        // border-radius: 5%;
    }
}