<div
  class="sidebar"
  *ngIf="isSideNavVisible"
  [ngClass]="{
    collapsedSidebar: isSideNavCollapsed,
    hiddenSidebar: isTabletView,
  }"
>
  <ul>
    <li *ngIf="hasPermissionToModule('ONLINE_ORDERS')">
      <a
        [routerLink]="!isSideNavCollapsed ? '/dashboard2' : null"
        routerLinkActive="active"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon pi pi-play-circle"></span>
        <span *ngIf="!isSideNavCollapsed" class="menu-text">Zamówienia online</span>
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('RESTAURANT_ORDERS')">
      <a
        [routerLink]="!isSideNavCollapsed ? '/restaurant-order' : null"
        routerLinkActive="active"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon pi pi-building-columns"></span>
        <span *ngIf="!isSideNavCollapsed" class="menu-text">Zamówienia na miejscu</span>
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('STATISTICS')">
      <a
        [routerLink]="!isSideNavCollapsed ? '/statistics' : null"
        routerLinkActive="active"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon material-icons">assessment</span>
        <span *ngIf="!isSideNavCollapsed" class="menu-text">Statystyki</span>
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('ORDERS_HISTORY')">
      <a
        [routerLink]="!isSideNavCollapsed ? '/orders' : null"
        routerLinkActive="active"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon material-icons">list_alt</span>
        <span *ngIf="!isSideNavCollapsed" class="menu-text"
          >Historia zamówień</span
        >
      </a>
    </li>
    <li *ngIf="hasPermissionToModule('ADMIN_PANEL')">
      <a
        [routerLink]="!isSideNavCollapsed ? '/admin-panel' : null"
        routerLinkActive="active"
        (click)="openCollapsedSideNavToggle()"
      >
        <span class="menu-icon pi pi-crown"></span>
        <span *ngIf="!isSideNavCollapsed" class="menu-text">Panel admina</span>
        <span
          *ngIf="isSideNavVisible"
          class="sub-menu-icon"
          [ngClass]="{ 'sub-menu-open': isSubmenuOpen }"
        >
          <mat-icon
            *ngIf="!this.isSideNavCollapsed"
            class="sidebar-menu-element-icon"
            (click)="toggleSubmenu()"
            >{{
              isSubmenuOpen ? "keyboard_arrow_down" : "keyboard_arrow_right"
            }}</mat-icon
          >
        </span>
      </a>
      <ul *ngIf="isSubmenuOpen && isSideNavVisible" class="sub-menu">
        <li *ngIf="hasPermissionToModule('SUPER_ADMIN_PANEL')">
          <a routerLink="/admin-panel/users" routerLinkActive="active">
            <span class="menu-icon pi pi-users"></span>
            <span class="menu-text">Użytkownicy</span></a
          >
        </li>
        <li *ngIf="hasPermissionToModule('SUPER_ADMIN_PANEL')">
          <a routerLink="/admin-panel/companies" routerLinkActive="active"
            ><span class="menu-icon pi pi-briefcase"></span
            ><span class="menu-text">Firmy</span></a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
