<!-- toolbar.component.html -->
<mat-toolbar class="custom-toolbar">
  <div
    class="toogle-menu"
    [ngClass]="{
      'toogle-menu2': isSidebarVisible,
      'toogle-menu3': !isSidebarVisible,
    }"
  >
    <button
      mat-icon-button
      class="neumorphic-button"
      class="example-icon"
      aria-label="Toggle Sidebar"
      (click)="onToggleSidnav.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a routerLink="/welcome" class="logo">
    <img src="images/logo-removebg.png" alt="MyLogo" class="logo-img" />
  </a>
  <span class="example-spacer"></span>
  &nbsp;
  <app-switch-with-dialog *ngIf="!isHolding"
    [webSocketTopicName]="selectedCompany?.webSocketTopicName!"
    [isChecked]="isChecked"
  ></app-switch-with-dialog>
  &nbsp; &nbsp;
  <p-dropdown
    [options]="companies"
    [(ngModel)]="selectedCompany"
    (onChange)="companyOnChange()"
    optionLabel="name"
    class="custom-dropdown"
  ></p-dropdown>
</mat-toolbar>
