.example-spacer {
  flex: 1 1 auto;
}

.mat-icon-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.custom-toolbar {
  background-color: var(--purple-color);
  background-color: var(--purple-color);
  color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.mat-toolbar {
  color: #f0f0f0 !important;
}

.mat-icon-button {
  color: #f0f0f0 !important;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: box-shadow 0.3s ease-in-out;
}

.neumorphic-button {
  color: white;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.neumorphic-button {
  color: white !important;
}

.custom-toolbar button:not(:last-child) {
  margin-right: 10px;
}

.notification-icon {
  color: #f0f0f0 !important;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

body {
  color: white !important;
}

.mat-mdc-icon-button {
  color: white !important;
}

.logo-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 135px;
}

.dropdown {
  transition: color 0.3s ease;
  position: relative;
  display: inline-block;
  border: 2px solid var(--secondary-color);
  width: 160px;
  text-align: center;
  height: 35px;
}

.dropdown-toggle {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: var(--purple-color);
  transition: color 0.3s ease;
}

.dropdown-toggle:hover {
  color: #ccc;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 100%;
  background-color: var(--purple-color);
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  max-height: calc(35px * 5);
  /* Height for 5 items */
  overflow-y: auto;
  /* Enable scrolling if content exceeds max-height */
  li {
    font-size: small;
  }
}

.dropdown-item {
  font: var(--font-stack);
  cursor: pointer;
  display: flex;
  align-items: center;
  /* Vertically centers the content */
  justify-content: center;
  /* Horizontally centers the content */
  color: var(--secondary-color);
  text-align: center;
  background-color: transparent;
  width: 100%;
  border-top: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  height: 35px;
  box-sizing: border-box;
  border-collapse: collapse;
}

.dropdown-item:last-child {
  border-bottom: 1px solid var(--secondary-color);
}

.dropdown-item:hover {
  background-color: var(--secondary-color);
  color: var(--purple-color);
  border: 1px solid var(--purple-color);
  box-sizing: border-box;
}


::ng-deep .custom-dropdown .p-dropdown.p-focus {
  // border-color: red !important; /* Change border color on focus/hover */
  // outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 0px  var(--secondary-color) !important; /* Add custom focus effect with red color */
}

::ng-deep .custom-dropdown .p-dropdown {
  // border-color: red !important; /* Change border color on focus/hover */
  // outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 0px   var(--secondary-color) !important; /* Add custom focus effect with red color */
  min-width: 225px !important;
  max-width: 335px !important;
  text-align: end !important;  /* Centers the text horizontally */
  line-height: normal !important; /* Optional: Adjust line-height for vertical centering */
}

::ng-deep .custom-dropdown .p-dropdown:not(.p-disabled).p-focus {
  border-color: white;
}

::ng-deep .custom-dropdown .p-dropdown:hover {
  border-color:  var(--secondary-color) !important; /* Change border color on hover */
}

::ng-deep .custom-dropdown .p-dropdown .p-dropdown-label {
  background-color: var(--purple-color) !important; /* Replace 'lightblue' with your desired color */
  color:  var(--secondary-color) !important;   
  border-radius: none;            /* Adjust text color for better readability */
}

::ng-deep .custom-dropdown .p-dropdown-panel{
  background-color: var(--purple-color) !important;

}

::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-item.p-highlight {
  background-color: var(--secondary-color) !important; /* Background color for the selected option */
  color: black !important;               /* Text color for the selected option */
}

::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-item {
  background-color:  var(--purple-color) !important; /* Background color for the selected option */
  color: var(--secondary-color) !important;          
  border-radius: 10px;
  margin: 1px;
  transition: all 0.3s !important;
  text-align: center !important;  /* Centers the text horizontally */
  line-height: normal !important; /* Optional: Adjust line-height for vertical centering */
  /* Text color for the selected option */
}

::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-item:hover {
  background-color:  var(--secondary-color) !important; /* Background color for the selected option */
  color: black !important;      
  transition: all 0.3s !important;    
}


::ng-deep .custom-dropdown .p-dropdown-trigger{
  background-color: var(--purple-color) !important;
}

::ng-deep .p-inputtext{
  border-radius: 0 !important;
  border-bottom-left-radius: 6px !important;
  border-top-left-radius: 6px !important;
}