<!-- toolbar.component.html -->
<mat-toolbar class="custom-toolbar">
  <div class="toogle-menu" [ngClass]="{
      'toogle-menu2': isSidebarVisible,
      'toogle-menu3': !isSidebarVisible,
    }">
    <button mat-icon-button class="neumorphic-button" class="example-icon" aria-label="Toggle Sidebar"
      (click)="onToggleSidnav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a routerLink="/welcome" class="logo">
    <img src="images/logo-removebg.png" alt="MyLogo" class="logo-img" />
  </a>
  <span class="example-spacer"></span>
  &nbsp;
  <app-switch-with-dialog *ngIf="selectedCompany !== undefined && selectedCompany !== null" [isChecked]="isChecked" [isHolding]="isHolding"
    [companies]="companiesPossibleToReceiving" [receivingCompanies]="receivingCompanies"
    (onStartReceiving)="onStartReceiving($event)"></app-switch-with-dialog>
  &nbsp; &nbsp;
  @if (selectedCompany !== undefined && selectedCompany !== null) {
    @if (companies.length > 1) {
      <p-dropdown cla [options]="companies" [(ngModel)]="selectedCompany"
        (onChange)="companyOnChange()" optionLabel="name" class="custom-dropdown"></p-dropdown>
    }@else {
      <div class="company-p">
        {{ selectedCompany.name }}
      </div>
    }
    &nbsp; &nbsp;

  }
  <button pRipple pButton style="font-size: 0.9rem;" type="button" label="Wyloguj" (click)="logout()" icon="pi pi-sign-out" ></button>
</mat-toolbar>