<p-dialog
  [(visible)]="setTimeDialogvisible"
  (onHide)="closeDialog()"
  [styleClass]="'custom-time-dialog'"
  header=""
  [modal]="true"
  closable="true"
  draggable="false"
  [dismissableMask]="true"
  [style]="{
    width: '40rem',
    height: userDeliveryIsBiggerThat1Hour ? '870px' : '800px'
  }"
>
  <ng-template style="margin-bottom: 2rem" pTemplate="header">
    <div class="header-custom">
      <span class="title"><h4>Wybierz czas</h4></span>
    </div>
  </ng-template>

  <!-- <p-messages
    *ngIf="userDeliveryIsBiggerThat1Hour"
    [(value)]="messages"
    [enableService]="false"
    [closable]="false"
  /> -->

  <div class="container">
    <div class="time-options">
      <button
        *ngFor="let time of predefinedTimes"
        pButton
        type="button"
        [label]="time.label"
        class="p-button-outlined"
        (click)="selectTime(time.value)"
      ></button>
    </div>
    <h4>lub</h4>
    <div class="calendar-wrapper">
      <p-floatLabel>
        <p-calendar
          inputId="calendar-timeonly"
          [(ngModel)]="selectedTime"
          [timeOnly]="true"
          (onSelect)="onSelectTime()"
        ></p-calendar>
        <label class="custom-float-label" for="calendar-timeonly"
          >Podaj godzinę</label
        >
      </p-floatLabel>
      <h4>lub</h4>
      <p-floatLabel>
        <p-calendar
          inputId="calendar-24h"
          [(ngModel)]="selectedDateTime24h"
          [showTime]="true"
          [touchUI]="true"
          [hourFormat]="'24'"
          (onSelect)="onSelectDateTime24()"
        />
        <label class="custom-float-label" for="calendar-timeonly"
          >Podaj date i godzinę</label
        >
      </p-floatLabel>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      *ngIf="selectedTime != undefined || selectedDateTime24h != undefined"
      severity="success"
      pButton
      type="button"
      class="p-button-primary"
      (click)="approveSelectedCalendarTime()"
      [label]="timeButtonLabel"
    ></button>
  </ng-template>
</p-dialog>
