
  
  ::ng-deep .p-dialog-draggable .p-dialog-header{
    padding-bottom: 0;
  }

  
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
  
.container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .p-calendar {
    margin-top: 1.2rem; // Add some spacing if needed
  }
  
  .time-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; // Adjust spacing between buttons
    justify-content: center; // Center the buttons
    margin-bottom: 2rem;
  }

  .custom-float-label{
    display: flex;
  }

  .calendar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    gap: 2rem;
  }