<div class="order-sidebar-panel" *ngIf="isOrderSidebarVisable">
    <div class="order-sidebar">
        <div *ngFor="let order of orders" class="order-card">
            <h3>Order for {{ order.customerName }}</h3>
            <p><strong>Delivery Address:</strong> {{ order.deliveryAddress || 'N/A' }}</p>
            <p><strong>Delivery Time:</strong> {{ order.deliveryTime || 'N/A' }}</p>
            <p><strong>Description:</strong> {{ order.description || 'N/A' }}</p>
            <p><strong>Order Name:</strong> {{ order.name || 'N/A' }}</p>
            <p><strong>Order Type:</strong> {{ order.orderType || 'N/A' }}</p>
            <p><strong>Price:</strong> {{ order.price ? order.price + ' PLN' : 'N/A' }}</p>
            <p><strong>Status:</strong> {{ order.status || 'N/A' }}</p>
          </div>
    </div>
</div>