.order-sidebar {
    position: fixed;
    top: 0;
    right: 0px; /* Initially hidden off-screen */
    width: 280px;
    height: 100vh;
    background-color: #c2c2c2;
    color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  // .order-sidebar-panel{
  //   top: 0;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   right: 300px;
  //   background-color: rgba(0, 0, 0, 0.137);
  // }
  
  .custom-sidebar.open {
    right: 0; /* Moves into view */
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .open-sidebar-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }
  