<p-fieldset
  class="custom-fieldset"
  *ngFor="let category of getCategoryKeys(productsByCategory)"
  [legend]="category"
  [toggleable]="true"
>
  <div class="cards-container">
    <div
      class="custom-card"
      *ngFor="let product of productsByCategory[category]"
      (click)="startAddingToCart(product)"
      [ngStyle]="{
        'background-image':
          'url(' + imageService.getProductImageUrl(product.imgUrl) + ')'
      }"
      pRipple
    >
      <div class="overlay">
        <div class="plus-icon">
          <i class="pi pi-plus"></i>
        </div>
        <h3>{{ product.name }}</h3>
        <p class="price-p">
          {{ product.price | pricePln }}
          <span
            *ngIf="isDelivery && product.deliveryPrice"
            class="delivery-price"
          >
            (+{{ product.deliveryPrice | pricePln }})
          </span>
          <span *ngIf="this.cartService.isTakeaway() && product.takeawayPrice">
            (+{{ product.takeawayPrice | pricePln }})
          </span>
        </p>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
</p-fieldset>

<p-dialog
  [(visible)]="isChoosePropertiesDialogVisible"
  [header]="'Podaj szczegóły'"
  [modal]="true"
  closable="true"
  draggable="false"
  [dismissableMask]="true"
  (onHide)="onHide()"
  [style]="{ width: '500px' }"
>
  <ng-template style="margin-bottom: 2rem" pTemplate="header">
    <div class="header-custom">
      <span class="title"><h4>Podaj szczegóły</h4></span>
    </div>
  </ng-template>

  <form
    *ngIf="isChoosePropertiesDialogVisible"
    [formGroup]="productForm"
    (ngSubmit)="addToCart()"
  >
    <div *ngFor="let property of selectedProduct?.productPropertiesList">
      <p-divider></p-divider>
      <p style="font-weight: bold">{{ property.name }}</p>
      <div *ngIf="property.required; else optionalTemplate">
        <!-- Radio buttons for required properties -->
        <div *ngFor="let option of property.propertyList" class="option">
          <p-radioButton
            [inputId]="'radio_' + option.id"
            name="property_{{ property.id }}"
            [value]="option.id"
            formControlName="property_{{ property.id }}"
          ></p-radioButton>
          <label [for]="'radio_' + option.id">
            {{ option.name }} (+{{ option.price | pricePln }})
          </label>
        </div>
      </div>
      @if ( (productForm.get('property_' + property.id)?.dirty || formSubmitted)
      && productForm.get('property_' + property.id)?.invalid) {
      <small
        *ngIf="
          (productForm.get('property_' + property.id)?.dirty ||
            formSubmitted) &&
          productForm.get('property_' + property.id)?.invalid
        "
        class="p-error"
      >
        Ta sekcja jest wymagana!
      </small>
      } @else {
      <div style="height: 25px"></div>
      }

      <ng-template #optionalTemplate>
        <div *ngFor="let option of property.propertyList" class="option">
          <p-checkbox
            [inputId]="'checkbox_' + option.id"
            [binary]="true"
            formControlName="optional_{{ property.id }}_{{ option.id }}"
          ></p-checkbox>
          <label [for]="'checkbox_' + option.id"
            >{{ option.name }} (+{{ option.price | pricePln }})</label
          >
        </div>
      </ng-template>
    </div>
    <p-divider></p-divider>

    <div class="dialog-footer">
      <div>
        <p-inputNumber
          id="quantity"
          [(ngModel)]="quantity"
          [ngModelOptions]="{ standalone: true }"
          [min]="1"
          [max]="99"
          mode="decimal"
          showButtons
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
        ></p-inputNumber>
      </div>
      <button
        severity="warning"
        pButton
        label="Zatwierdź"
        icon="pi pi-check"
        type="submit"
      ></button>
    </div>
  </form>
</p-dialog>
