:host {
  width: 98%; // Take the full width of the parent container
  max-width: 1100px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}

// :host {
//   display: flex;
//   flex-direction: column;
//   align-items: center; // Ensure the container takes the full width
//   justify-content: center;
//   width: 99%; // Take the full width saddsaof the parent containers
//   max-width: 1100px;
//   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
// }
// :host {
//   display: flex;
//   flex-direction: column;
//   width: 99%; // Take the full width of the parent container
//   max-width: 99%; // Prevent overflow beyond the screen
//   overflow-x: auto; // Enable horizontal scrolling when content overflows
//   max-width: 1100px;
//   margin-bottom: 50px;
//   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
// }

::ng-deep .p-selectbutton .p-button {
  padding: 0.15rem 1.75rem; /* Adjust padding for smaller buttons */
  margin-bottom: 2rem;
}

.centred-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
