<app-header-logged-in2></app-header-logged-in2>
<!-- <app-custom-toast></app-custom-toast> -->
<!-- <app-order-sidebnar></app-order-sidebnar> -->
<app-new-order-panel></app-new-order-panel>

<!-- <app-switch [isChecked]="isCompanyReceivingOrdersActive" [isDisabled]="true"></app-switch>
<app-switch [isChecked]="isUserReceivingOrdersActive" (onToogleCheckbox)="onToogleUserCheckbox($event)"></app-switch> -->
<app-dashboard-panel 
[checkedCompany]="isCompanyReceivingOrdersActive" 
[checkedUser]="isUserReceivingOrdersActive" 
[companyName]="companyName"
(onToogleCheckbox)="onToogleUserCheckbox($event)"
></app-dashboard-panel>
