:host {
  width: 100%; // Take the full width of the parent container
  max-width: 1500px;
  margin-bottom: 100px;
  margin-top: 4%;
  padding: 1rem;
}

::ng-deep .p-selectbutton .p-button {
  padding: 0.15rem 1.75rem; /* Adjust padding for smaller buttons */
  margin-bottom: 2rem;
}

.centred-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
