<p-dialog
  header="Podsumowanie zamówienia"
  [(visible)]="isSummaryPanelVisible"
  [modal]="true"
  [styleClass]="'full-screen-dialog'"
  [contentStyle]="{ height: '100%' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeDialog()"
>
  <div class="cart-summary-container">
    <!-- Cart items list -->
    <p-dataView #dv [value]="cartItems" layout="list">
      <ng-template let-cartItems pTemplate="list">
        <div class="col-12" *ngFor="let item of cartItems; let first = first">
          <div class="cart-item">
            <div class="product-info">
              <div class="quantity-selector">
                <p-inputNumber
                  id="quantity"
                  [(ngModel)]="item.quantity"
                  [min]="0"
                  [max]="99"
                  (onInput)="onQuantityChange(item)"
                  mode="decimal"
                  showButtons
                  buttonLayout="horizontal"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                ></p-inputNumber>
              </div>
              <img
                *ngIf="item.product?.imgUrl"
                [src]="item.product.imgUrl"
                [alt]="item.product?.name"
                class="big-product-image"
              />
              <!-- Product Name -->
              <div class="product-info-strings">
                <div class="big-product-name" *ngIf="item.product?.name">
                  {{ item.product.name }}
                </div>
                <p>
                  {{ item.price | pricePln }}
                </p>
                <div class="options-container">
                  <div
                    class="property-item"
                    *ngFor="let prop of item.productPropertiesList"
                  >
                    {{ prop.name }}
                    <span *ngIf="prop.price">
                      (+{{ prop.price | pricePln }})</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="empty">
        <p>Koszyk jest pusty</p>
      </ng-template>
    </p-dataView>
  </div>

  <ng-template pTemplate="footer">
    <div class="total-price">
      <h3>Suma całkowita: {{ totalPrice | pricePln }}</h3>
    </div>
    <button
      pButton
      icon="pi pi-times"
      label="Zamknij"
      (click)="isSummaryPanelVisible = false"
    ></button>
  </ng-template>
</p-dialog>
