<div class="cart-footer" *ngIf="isVisible()">
  <div class="cart-info">
    <span>💰 {{ totalPrice | pricePln }}</span>
    <span [ngClass]="{ 'glow-span': isGlowing }">🥙 {{ totalItems }}</span>
    <button class="clear-cart-btn" (click)="clearCart()">🗑️ Wyczyść</button>
  </div>
  <button pRipple class="checkout-btn" (click)="onSummaryClick()">
    Podsumowanie
  </button>
</div>

<!-- Add this to your component template -->
<app-cart-final-summary
  [isSummaryPanelVisible]="isSummaryPanelVisible"
  (onSummaryPanelVisibleChange)="isSummaryPanelVisible = false"
></app-cart-final-summary>