.cart-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 68, 0, 0.91);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1000;
  
    .cart-info {
      display: flex;
      gap: 1.5rem;
      font-size: 1.1rem;
  
      span {
        background: rgba(255, 255, 255, 0.15);
        padding: 0.5rem 1rem;
        border-radius: 10px;
        transition: all 0.3s ease-in-out; // Smooth transition for glow effect
      }
    }
  
    .cart-actions {
      display: flex;
      gap: 1rem;
    }
  
    .checkout-btn,
    .clear-cart-btn {
      border: none;
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
      font-weight: bold;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    // Checkout Button
    .checkout-btn {
      background: white;
      color: #ff5722;
    }
  
    // Clear Cart Button
    .clear-cart-btn {
      background: #292929b2;
      color: white;
    }
  }
  
  @keyframes strong-glow {
    0% {
      text-shadow: 0 0 5px rgba(255, 223, 186, 0.8), 0 0 10px rgba(255, 223, 186, 0.8);
      box-shadow: 0 0 5px rgba(255, 223, 186, 0.8), 0 0 10px rgba(255, 223, 186, 0.8);
    }
    50% {
      text-shadow: 0 0 20px rgba(255, 223, 186, 0.8), 0 0 40px rgba(255, 223, 186, 0.8);
      box-shadow: 0 0 20px rgba(255, 223, 186, 0.8), 0 0 40px rgba(255, 223, 186, 0.8);
    }
    100% {
      text-shadow: 0 0 5px rgba(255, 223, 186, 0.8), 0 0 10px rgba(255, 223, 186, 0.8);
      box-shadow: 0 0 5px rgba(255, 223, 186, 0.8), 0 0 10px rgba(255, 223, 186, 0.8);
    }
  }
  
  .glow-span {
    animation: strong-glow 1.5s ease-in-out;
  }
