<div
  class="body"
  [ngClass]="{
bodyTrimmed: !isBodyCartRightBar && (isSideNavVisible && !isSideNavCollapsed),
bodyCollapsedSideNav: !isBodyCartRightBar && (isSideNavVisible && isSideNavCollapsed),
bodyNormal: !isSideNavVisible || !isLoggedIn,
bodyCartRightBar: isBodyCartRightBar && (isSideNavVisible && !isSideNavCollapsed),
bodyCartRightBarDoubleTrimmed: isBodyCartRightBar && (isSideNavVisible && isSideNavCollapsed),
}"
>
  <app-header-logged-in2
    *ngIf="isLoggedIn"
    (onToggleSidnav)="onToggleSidnav.emit()"
  >
  </app-header-logged-in2>
  <router-outlet></router-outlet>
  <app-cart [isBodyCartRightBar]="isBodyCartRightBar"></app-cart>
</div>
