:host ::ng-deep .p-datatable-wrapper,  //bez tego jest dziwnyu overflow na ostatnich rowach w tejblach xd
:host ::ng-deep .p-datatable .p-datatable-tbody {
  overflow-y: hidden;
  overflow-x: hidden;
}


.body {
    display: flex;
    flex-direction: column;
    align-items: center; // Ensure the container takes the full width
    width: 100%;
    height: calc(100% - 64px);
    z-index: 56;
    position: fixed;
    top: 64px;
    transition: all 0.5s ease;
    background-color: var(--primary-color2);
    overflow-y: auto; /* Allows vertical scrolling if content overflows */
}

.bodyTrimmed {
    width: calc(100% - 235px);
    margin-left: 235px;
}

.bodyCartRightBar {
    width: calc(100% - 300px);
    margin-right: 300px;// jest mniejszy niz w carcie i dzieki temu zasłania scrolla i troche bardziej clean to tyglada
}

.bodyCartRightBarDoubleTrimmed {
    width: calc(100% - 235px - 300px);
    margin-right: 300px;
    margin-left: 235px;
}

.bodyCollapsedSideNav {
    width: calc(100% - 3.7rem);
    margin-left: 3.7rem;
}

.bodyNormal{
    width: 100%;
    margin-left: 0;
}

@media (max-width: 975px) {
    .bodyNormal{
        width: 100%;
        margin-left: 0;
    }
}
