.body {
    display: flex;
    flex-direction: column;
    align-items: center; // Ensure the container takes the full width
    width: 100%;
    height: 100vh;
    z-index: 56;
    position: fixed;
    top: 64px;
    transition: all 0.7s ease;
    background-color: var(--primary-color2);
    overflow-y: auto; /* Allows vertical scrolling if content overflows */
}

.bodyTrimmed {
    width: calc(100% - 235px);
    margin-left: 235px;
}

.bodyCartRightBar {
    width: calc(100% - 235px);
    margin-right: 235px;
}

.bodyCartRightBarDoubleTrimmed {
    width: calc(100% - 2 * 235px);
    margin-right: 235px;
    margin-left: 235px;
}

.bodyCollapsedSideNav {
    width: calc(100% - 3.7rem);
    margin-left: 3.7rem;
}

.bodyNormal{
    width: 100%;
    margin-left: 0;
}

@media (max-width: 975px) {
    .bodyNormal{
        width: 100%;
        margin-left: 0;
    }
}