<p-table
  [value]="orders"
  dataKey="id"
  [expandedRowKeys]="expandedRows"
  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)"
  [tableStyle]="{ 'min-width': '20rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="margin-left: -22px; width: 1%"></th>
      <th style="width: 1%"></th>
      <th [style.width]="isHolding ? '17%' : '20%'">
        <div>Kwota</div>
        <div>Status</div>
      </th>
      <th style="width: 1%">
        <div>Na wynos</div>
      </th>
      <th [style.width]="isHolding ? '15%' : '20%'">
        <div class="table-header-content">Odbiór za</div>
        <div class="table-header-content">Realizacja</div>
      </th>
      <th>
        <div class="table-header-content">Kod odbioru</div>
        <div class="table-header-content">Adres dostawy</div>
      </th>
      <th *ngIf="isHolding">
        <div class="table-header-content">Firma</div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order let-expanded="expanded">
    <tr>
      <td class="custom-td">
        <p-button
          type="button"
          pRipple
          [pRowToggler]="order"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td>
      <td class="custom-td">
        #{{ order.id }}
        <br />
        <div>
          <img
            *ngIf="orderUtils.getImage(order.orderType)"
            [src]="orderUtils.getImage(order.orderType)"
            style="
              border-radius: 15px;
              width: 28px;
              height: 28px;
              object-fit: cover;
            "
          />
        </div>
      </td>
      <td class="custom-td">
        <div>
          {{ order.price | pricePln }}
          <i
            *ngIf="orderUtils.isCashPayment(order.paymentMethod)"
            class="pi pi-money-bill"
            style="color: rgb(0, 95, 0); font-size: 1rem"
          ></i>
          <i
            *ngIf="orderUtils.isCardPayment(order.paymentMethod)"
            class="pi pi-credit-card"
            style="font-size: 1rem"
          ></i>
        </div>
        <p-tag
          [value]="translations[order.status]"
          [severity]="orderUtils.getStatusSeverity(order.status)"
        />
      </td>
      <td class="custom-td">
        <div>{{ order.takeaway ? "Tak" : "Nie" }}</div>
      </td>
      <td class="custom-td">
        <div>{{ calcTimeDifference(order.executionTime) | minuteFormat }}</div>
        <div>{{ order.executionTime | formattedDateTime }}</div>
        <!-- <div>{{ order.deliveryTime | formattedDateTime }}</div> -->
        <!-- <div>{{ order.approvalDeadline | formattedDateTime }}</div> -->
      </td>
      <td class="custom-td">
        <div>{{ order.deliveryCode }}</div>
        <div>{{ order.deliveryAddress }}</div>
      </td>
      <td *ngIf="isHolding" class="custom-td">
        <div>{{ order.companyName }}</div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-order>
    <tr class="expanded-row">
      <td colspan="7">
        <div class="p-3">
          <p class="wrap-text">
            <b>Opis do zamówienia: </b>{{ order.description ?? " - " }}
          </p>
          <p-table [value]="order.orderProducts" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Nazwa</th>
                <th>Kwota</th>
                <th>Ilość</th>
                <th style="max-width: 50%">Opcje</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderProduct>
              <tr class="custom-tr">
                <td style="padding: 5px 11px">
                  <img
                    *ngIf="
                      imageService.getProductImageUrl(
                        orderProduct.product.imgUrl
                      )
                    "
                    [src]="
                      imageService.getProductImageUrl(
                        orderProduct.product.imgUrl
                      )
                    "
                    class="small-product"
                  />
                </td>
                <td>{{ orderProduct.product.name }}</td>
                <td>{{ orderProduct.price | pricePln }}</td>
                <td>{{ orderProduct.quantity }}</td>
                <td>
                  {{
                    orderUtils.getProductPropertiesNames(
                      orderProduct.productPropertiesList
                    )
                  }}
                </td>
                <!-- Accessing quantity from the map -->
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">There are no order for this order yet.</td>
              </tr>
            </ng-template>
          </p-table>
          <order-actions
            [showApprove]="order.actions.showApprove"
            [showReject]="order.actions.showReject"
            [showSetExecutionTime]="order.actions.showSetExecutionTime"
            [showPrint]="order.actions.showPrint"
            [showReadyToPickUp]="order.actions.showReadyToPickUp"
            [showModify]="order.actions.showModify"
            [showToTheCashier]="order.actions.showToTheCashier"
            [order]="order"
            [approvalTimeLeft]="approvalTimeLeft(order.approvalDeadline)"
            (refreshOrders)="onRefreshOrders.emit(true)"
          ></order-actions>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
