:host {
  display: flex;
  flex-direction: column;
  align-items: stretch; // Ensure the container takes the full width
  width: 99%; // Take the full width of the parent container
  max-width: 99%; // Prevent overflow beyond the screen
  overflow-x: auto; // Enable horizontal scrolling when content overflows
  max-width: 1100px;
  margin-bottom: 50px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem 5px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 1rem 5px;
}

:host ::ng-deep .p-button.p-button-text {
  color: var(--primary-color1);
}

// Media query for smaller screens
@media (max-width: 768px) {
  .table-header {
    margin: 4px; // Reduced margin on smaller screens
  }
}

@media (max-width: 480px) {
  .table-header {
    margin: 2px; // Further reduced margin on mobile screens
  }
}

.expanded-row td {
  // background-color: #f8f2a95e;
  padding: 44px;
  border-bottom: 5px solid var(--primary-color1-transparent);
}

.custom-tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.315);
  border-bottom: none;
  padding: 5px;
}

.custom-td {
  // border-top: 5px solid rgba(150, 72, 0, 0.562);
  // border-top: 3px groove var(--primary-color1-transparent);
}

.description-container {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 260px;
  cursor: pointer;
}

.description-container:hover {
  overflow: visible;
  white-space: normal;
  position: absolute;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
