:host {
  display: flex;
  flex-direction: column;
  width: 100%; // Take the full width of the parent container
  max-width: 1500px;
}

::ng-deep .p-datatable th {
  text-align: center;
}

::ng-deep .p-datatable td {
  text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem 5px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 1rem 5px;
}

:host ::ng-deep .p-button.p-button-text {
  color: var(--primary-color1);
}

// Media query for smaller screens
@media (max-width: 768px) {
  .table-header {
    margin: 4px; // Reduced margin on smaller screens
  }
}

@media (max-width: 480px) {
  .table-header {
    margin: 2px; // Further reduced margin on mobile screens
  }
}

.expanded-row td {
  // background-color: #f8f2a95e;
  padding: 44px;
  // border-bottom: 5px solid var(--primary-color1-transparent);
}

.custom-tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.315);
  border-bottom: none;
  padding: 5px;
}

.custom-td {
  // border-top: 5px solid rgba(150, 72, 0, 0.562);
  // border-top: 3px groove var(--primary-color1-transparent);
}

.small-product {
  border-radius: 15px;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}

.wrap-text {
  /* Make sure it takes the full width of its container */
  width: 100%;
  /* Allow the text to wrap */
  white-space: normal;
  /* Break long words if necessary */
  overflow-wrap: break-word;
  /* Some browsers may need this too */
  word-break: break-all;
}