<p-toast />

<p-card footer="Footer Content">
  <p-table
  [value]="orders"
  dataKey="id"
  [rowHover]="true"
  [expandedRowKeys]="expandedRows"
  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)"
  [tableStyle]="{ 'min-width': '20rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex flex-wrap justify-content-end gap-2">
      <p-button class="custom-button"
        label="Rozwiń wszystkie"
        icon="pi pi-plus"
        text
        (onClick)="expandAll()"
      />
      <p-button
        label="Zwiń wszystkie"
        icon="pi pi-minus"
        text
        (onClick)="collapseAll()"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="margin-left: -22px; width: 1%"></th>
      <th style="width: 1%"></th>
      <th style="width: 15%">Status</th>
      <th style="width: 15%">
        <div class="table-header-content">Kwota</div>
      </th>
      <th style="width:25%" pSortableColumn="deliveryTime">
        <div class="table-header-content">
          Data Dostawy <p-sortIcon field="deliveryTime" />
        </div>
        <div class="table-header-content">Adres Dostawy</div>
      </th>
      <th>
        <div class="table-header-content">Opis</div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order let-expanded="expanded">
    <tr>
      <td class="custom-td">
        <p-button
          type="button"
          pRipple
          [pRowToggler]="order"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td>
      <td class="custom-td">#{{ order.id }}</td>
      <td class="custom-td">
        <p-tag
          [value]="translations[order.status]"
          [severity]="getStatusSeverity(order.status)"
        />
      </td>
      <td class="custom-td">{{ order.price | currency : "PLN" }}</td>
      <td class="custom-td">
        <div>{{ order.deliveryTime | formattedDateTime }}</div>
        <div>{{ order.deliveryAddress }}</div>
      </td>
      <td class="custom-td">
        <div class="description-container" title="{{ order.description }}">
          {{ order.description }}
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-order>
    <tr class="expanded-row">
      <td colspan="7">
        <div class="p-3">
          <p-table [value]="order.orderProducts" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Nazwa</th>
                <th>Kwota</th>
                <th>Ilość</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderProduct>
              <tr class="custom-tr">
                <td style="padding: 5px 11px">
                  <img
                    [src]="orderProduct.product.imgUrl"
                    alt="Product Image"
                    style="width: 100px; height: 75px"
                  />
                </td>
                <td>{{ orderProduct.product.name }}</td>
                <td>{{ orderProduct.price | currency : "PLN" }}</td>
                <td>{{ orderProduct.quantity }}</td>
                <!-- Accessing quantity from the map -->
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">There are no order for this order yet.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
</p-card>