
::ng-deep .p-dialog .p-dialog-content {
    background-color: transparent;
    /* Makes the dialog content background transparent */
  }
  
  ::ng-deep .p-dialog .p-dialog-header {
    background-color: transparent;
    /* Makes the dialog content background transparent */
  }
  
  ::ng-deep .p-dialog {
    box-shadow: none;
    border: none;
  }
  
  ::ng-deep .p-dialog .p-dialog-header-close {
    display: none;
    /* Hides the close button */
  }
  
  ::ng-deep .my-custom-dropdown .p-dropdown-trigger {
    width: 25px !important; /* Add !important if other styles are overriding */
  }
  
  ::ng-deep .my-custom-dropdown .p-inputtext {
    padding: 0.75rem 0.05rem 0.75rem 0.25rem !important; /* Ensure higher specificity */
  }
  