<app-header-guest></app-header-guest>

<div class="container">
  <div *ngIf="message" class="message-panel" [ngClass]="{
      success: !message.startsWith('Błąd logowania'),
      error: message.startsWith('Błąd logowania'),
    }">
    <div class="message-icon">
      <span *ngIf="!message.startsWith('Błąd logowania')">&#10004;</span>
      <span *ngIf="message.startsWith('Błąd logowania')">&#10006;</span>
    </div>
    <div class="message-content">{{ message }}</div>
  </div>

  <div *ngIf="!isSuccess">
    <h2>Zaloguj się</h2>
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">
      <p-floatLabel>
        <input pInputText id="email" [(ngModel)]="authenticationRequest.email" name="email" required type="text"
          class="input-full-width" #email="ngModel" />
        <label for="email">Email</label>
      </p-floatLabel>

      <p-floatLabel>
        <input pInputText id="password" name="password" required type="password"
          [(ngModel)]="authenticationRequest.password" #password="ngModel" class="input-full-width" />
        <label for="password">Hasło</label>
      </p-floatLabel>

      <button pButton type="submit" label="Login" [raised]="true" [disabled]="loginForm.invalid"></button>
    </form>
  </div>
  <a routerLink="/register" class="link">Register</a>
  <a routerLink="/changePassword" class="link">Forgot password?</a>
</div>