<app-header-guest *ngIf="!isLoggedIn"></app-header-guest>
<app-header-logged-in2
  *ngIf="isLoggedIn"
  (onToggleSidnav)="onToggleSidnav()"
></app-header-logged-in2>

<app-sidenav
  *ngIf="isLoggedIn"
  [isSideNavVisible]="isSideNavVisible"
  [isSideNavCollapsed]="isSideNavCollapsed"
  [isTabletView]="isTabletView"
  (onOpenCollapsedSideNavToggle)="onOpenCollapsedSideNavToggle()"
></app-sidenav>

<app-body
  [isSideNavVisible]="isSideNavVisible"
  [isSideNavCollapsed]="isSideNavCollapsed"
  [isTabletView]="isTabletView"
  [isLoggedIn]="isLoggedIn"
></app-body>
<app-new-order-panel *ngIf="isLoggedIn"></app-new-order-panel>
