<app-header-guest *ngIf="!isLoggedIn"></app-header-guest>

<app-sidenav
  *ngIf="isLoggedIn"
  [isSideNavVisible]="isSideNavVisible"
  [isSideNavCollapsed]="isSideNavCollapsed"
  [isTabletView]="isTabletView"
  (onOpenCollapsedSideNavToggle)="onOpenCollapsedSideNavToggle()"
></app-sidenav>

<app-body
  [isSideNavVisible]="isSideNavVisible"
  [isSideNavCollapsed]="isSideNavCollapsed"
  [isTabletView]="isTabletView"
  [isLoggedIn]="isLoggedIn"
  (onToggleSidnav)="onToggleSidnav()"
></app-body>

<app-toast-websocket *ngIf="isLoggedIn"></app-toast-websocket>
