:container {
    display: flex;
    align-items: end; /* Vertically center input and button */
    justify-content: space-between; /* Push input and button to edges */
    gap: 1rem; /* Spacing between input and button */
    height: 4.5rem; /* Fixed height */
    width: 100%; /* Full width of the container */
  }
  
  .delivery-option-form {
    display: flex;
    align-items: end; /* Vertically center input and button */
    justify-content: space-between; /* Push input and button to edges */
    gap: 1rem; /* Spacing between input and button */
    height: 4.5rem; /* Fixed height */
    width: 100%; /* Full width of the container */
  }
  
  .input-wrapper {
    flex: 1; /* Ensures inputs take up available space */
    display: flex;
    flex-direction: column; /* Stack input & error message */
    position: relative;
  }

  .delivery-option-input{
    width: 100%;
  }
  
  ::ng-deep .delivery-option-input .p-inputnumber {
    width: 100%; /* Make input fill its container */
    flex: 1; /* Ensures inputs take up available space */
    display: flex;
  }
  
  small.custom-error {
    color: red;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    display: block; /* Ensures it appears below the input */
  }

  
  .row {
    display: flex;
    flex-wrap: nowrap; /* Ensures elements in a row stay side by side */
    gap: 2rem; /* Adds space between items in the row */
    align-items: center;
  }
  