.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  width: 550px;
  margin: 0 auto;
  /* Center the container */
}

h2 {
  text-align: center;
  color: #333333;
}

.input-full-width {
  width: 100%;
  height: 50px;
  display: block;
  margin-bottom: 0.5rem;
}

small.custom-error {
  display: block;
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  visibility: hidden; /* Initially hide the error message */
  height: 1.5rem; /* Reserve space for the error message */
}

small.custom-error.show {
  visibility: visible; /* Show the error message when the form is invalid */
}

small{
  margin-bottom: 1.2rem;
}

.link {
  display: block;
  margin-bottom: 10px; // Adjust the margin as needed
  text-align: center;
}

button {
  cursor: pointer;
  padding: 10px;
  padding: 0.75rem 2rem;
  background-color: var(--primary-color1);
  color: var(--primary-color2);
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 100%;
}

a {
  margin-top: 10px;
}

.message-panel {
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 15px;
}

.message-icon {
  font-size: 32px;
  margin-bottom: 10px;
}

.message-content {
  font-size: 18px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}