<div class="container">
    <div *ngIf="message" class="message-panel"
        [ngClass]="{'success': !message.startsWith('Registration failed'), 'error': message.startsWith('Registration failed')}">
        <div class="message-icon">
            <span *ngIf="!message.startsWith('Registration failed')">&#10004;</span>
            <span *ngIf="message.startsWith('Registration failed')">&#10006;</span>
        </div>
        <div class="message-content">{{ message }}</div>
    </div>


    <div *ngIf="!isSuccess">
        <h2>Register</h2>
        <form (ngSubmit)="registerUser()">
            <div class="form-group">
                <label for="firstname">First name</label>
                <input id="firstname" name="firstname" required type="text" [(ngModel)]="registerRequest.firstName">
            </div>
            <div class="form-group">
                <label for="lastname">Last name</label>
                <input id="lastname" name="lastname" required type="text" [(ngModel)]="registerRequest.lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" required type="text" [(ngModel)]="registerRequest.email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" required type="password" [(ngModel)]="registerRequest.password">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <a routerLink="/login" class="link">Login</a>

</div>