:host {
    width: 98%; // Take the full width of the parent container
    max-width: 1500px;
    margin-bottom: 100px;
    padding-top: 1%;
  }

  .container {
    padding: 1rem;
    padding-top: 0;
  }

  ::ng-deep .custom-auto-complete .p-inputtext {
    width: 500px; 
  }
  
  .header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    
  }