:host {
    width: 98%; // Take the full width of the parent container
    max-width: 1500px;
    margin-bottom: 100px;
    padding-top: 1%;
  }

  .container {
    padding: 1rem;
    padding-top: 0;
  }

  ::ng-deep .custom-auto-complete .p-inputtext {
    width: 500px; 
  }
  
  .header{
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .summary {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .summary-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
  }