<p-card>
  <div class="container">
    <p-floatLabel>

      <p-autoComplete [(ngModel)]="address" [suggestions]="suggestions" (completeMethod)="onAddressInput($event)" field="description"
        (onSelect)="onSelectSuggestion($event)" emptyMessage="Brak wyników" inputId="float-label">
      </p-autoComplete>
      <label for="float-label">Podaj adres dostawy</label>
    </p-floatLabel>

    <div #mapContainer id="map" style="width: 100%; height: 500px; margin-top: 10px;"></div>
  </div>
</p-card>