// $primaryColor: #322653 !default;
// $primaryLightColor: #4A3E6C !default; // Slightly lighter shade
// $primaryLighterColor: #65598A !default; // Noticeably lighter shade
// $primaryDarkColor: #261C41 !default; // Slightly darker shade
// $primaryDarkerColor: #1B1330 !default; // Much darker shade

// $primaryColor: #1C1435 !default;
// // $primaryLightColor: #423964b4 !default; // Slightly lighter shade
// $primaryLightColor: #aba1ce !default; // Slightly lighter shade
// $primaryLighterColor: #4B4368 !default; // Noticeably lighter shade
// $primaryDarkColor: #170F2B !default; // Slightly darker shade
// $primaryDarkerColor: #110A20 !default; // Much darker shade

// $primaryColor: #101820 !default;
// $primaryLightColor: #2B2F37 !default; // Slightly lighter shade
// $primaryLighterColor: #444950 !default; // Noticeably lighter shade
// $primaryDarkColor: #0C141B !default; // Slightly darker shade
// $primaryDarkerColor: #080F14 !default; // Much darker shade

// $primaryColor: #04173D !default; // Base color
// $primaryLightColor: #717986 !default; // Slightly lighter shade
// $primaryLighterColor: #838992 !default; // Noticeably lighter shade
// $primaryDarkColor: #031232 !default; // Slightly darker shade
// $primaryDarkerColor: #020D28 !default; // Much darker shade

// $primaryColor: #102c18 !default; // Base color
// $primaryLightColor: #3d4d41a1 !default; // Slightly lighter shade
// $primaryLighterColor: #5f6d63 !default; // Noticeably lighter shade
// $primaryDarkColor: #0c2012 !default; // Slightly darker shade
// $primaryDarkerColor: #08160c !default; // Much darker shade

$primaryColor: #141414 !default; // Base color
$primaryLightColor: #646464c7 !default; // Slightly lighter shade
$primaryLighterColor: #aaa9a9 !default; // Noticeably lighter shade
$primaryDarkColor: #080808 !default; // Slightly darker shade
$primaryDarkerColor: #000000 !default; // Much darker shade




$primaryTextColor: #ffffff !default;


$highlightBg: #f5efff !default; // np odswietlenie stron w pagerze
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';