<button
  *ngIf="showPrint"
  pButton
  pRipple
  type="button"
  label="Drukuj"
  [outlined]="true"
  icon="pi pi-print"
></button>

<button
  *ngIf="showSetExecutionTime"
  pButton
  pRipple
  type="button"
  [outlined]="true"
  [label]="executionTimeButtonText"
  severity="info"
  icon="pi pi-calendar-clock"
  (click)="setExecutionTime()"
  [disabled]="approvalTimeLeft"
></button>

<button
  *ngIf="showReadyToPickUp"
  pButton
  pRipple
  type="button"
  label="Gotowe do odbioru"
  icon="pi pi-check"
  [outlined]="true"
  severity="success"
></button>

<button
  *ngIf="showReject"
  pButton
  pRipple
  type="button"
  label="Odrzuć"
  icon="pi pi-times"
  severity="danger"
  [outlined]="true"
  (click)="rejectOrder()"
  [disabled]="approvalTimeLeft"
></button>
<button
  *ngIf="showApprove"
  pButton
  pRipple
  type="button"
  [label]="approveButtonText"
  icon="pi pi-check"
  severity="success"
  [outlined]="true"
  (click)="approveOrder()"
  [disabled]="approvalTimeLeft"
></button>

<button
  *ngIf="showModify"
  pButton
  pRipple
  type="button"
  label="Modyfikuj"
  icon="pi pi-check"
  severity="info"
  [outlined]="true"
  (click)="modify()"
></button>

<button
  *ngIf="showToTheCashier"
  pButton
  pRipple
  type="button"
  label="Do kasy"
  icon="pi pi-check"
  severity="success"
  [outlined]="true"
  (click)="goToTheCashier()"
></button>

<app-delivey-time-dialog
  [(setTimeDialogvisible)]="setTimeDialogvisible"
  [deliveryDatePickedByUser]="deliveryDatePickedByUser"
  [userDeliveryIsBiggerThat1Hour]="userDeliveryIsBiggerThat1Hour()"
  (selectedTimeChange)="onTimeSelected($event)"
></app-delivey-time-dialog>

<app-cashier-final-summary
  [isSummaryCashierPanelVisible]="isSummaryCashierPanelVisible"
  (summaryCashierPanelVisibleChange)="onSummaryCashierPanelVisible($event)"
  [order]="order"
></app-cashier-final-summary>
