
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    background-color: var(--primary-color2);
    color: var(--primary-color2);
    width: 100%;
    box-sizing: border-box;


    p {
        margin: 0;
    }
}