<p-messages [(value)]="messages" [enableService]="false" />

    <div *ngIf="areCardsVisible" class="card-container">
        <p-card (click)="onClickedLivePanel()" class="custom-card" header="Zamówienia online">
            <ng-template pTemplate="header">
              <img alt="Card 1" src="images/onlineOrdering.webp" />
            </ng-template>
          </p-card>
        
          <p-card (click)="onClickedRestaurantOrder()" class="custom-card" header="Zamówienia na miejscu">
            <ng-template pTemplate="header">
              <img alt="Card 2" src="images/inRestaurantOrdering.webp" />
            </ng-template>
          </p-card>
    </div>
