<p-dialog
  [(visible)]="isDialogVisible"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ padding: '0' }"
  (onHide)="onHide()"
  draggable="false"
  [dismissableMask]="true"
  class="custom-dialog"
>
  <ng-template pTemplate="header">
    <i
      *ngIf="currentStep === 2"
      class="pi pi-arrow-left"
      style="font-size: 1.5rem; cursor: pointer; margin-left: 2rem"
      (click)="currentStep = 1"
    ></i>
    <div>
      <span class="title"><h4>Stwórz nowy produkt</h4></span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="content-container">
      <div *ngIf="currentStep === 1" class="add-new-product-panels">
        <div
          class="form-step"
          [@slideAnimation]="'in'"
          [@.disabled]="!isDialogVisible"
        >
          <app-add-new-category
            [productCategories]="productCategories"
            [isNewCategoryButtonVisible]="isNewCategoryButtonVisible"
          ></app-add-new-category>

          <h6 style="margin-bottom: 2rem; margin-top: 1rem">
            Wybierz kategorie produktu
          </h6>
          <form [formGroup]="productForm">
            <p-floatLabel style="margin-bottom: 2rem">
              <p-dropdown
                [ngClass]="{
                  'ng-invalid': isFieldInvalid('selectedProductCategory'),
                  'ng-dirty': isFieldInvalid('selectedProductCategory')
                }"
                formControlName="selectedProductCategory"
                [style]="{ width: '100%' }"
                [options]="productCategories"
                optionLabel="name"
                (onChange)="onCategoryChange($event)"
                selecte
              />
              <label for="over_label">Kategoria</label>
            </p-floatLabel>
            <small
              class="custom-error"
              *ngIf="isFieldInvalid('selectedProductCategory')"
            >
              Proszę wybrać kategorię.
            </small>
            <h6 style="margin-top: 2rem">Wypełnij dane</h6>
            <p-floatLabel>
              <input
                formControlName="name"
                pInputText
                [ngClass]="{
                  'ng-invalid': isFieldInvalid('name'),
                  'ng-dirty': isFieldInvalid('name')
                }"
                id="disabled-input"
                pInputText
                id="name"
                required
                type="text"
                class="input-full-width"
                autocomplete="off"
                (input)="capitalizeFirstLetter($event, 'name')"
              />
              <label for="name">Nazwa produktu</label>
            </p-floatLabel>
            <small class="custom-error" *ngIf="isFieldInvalid('name')">
              Proszę wprowadzić nazwę produktu
            </small>

            <p-floatLabel>
              <p-inputNumber
                [ngClass]="{
                  'ng-invalid': isFieldInvalid('price'),
                  'ng-dirty': isFieldInvalid('price')
                }"
                formControlName="price"
                inputId="currency-us"
                mode="currency"
                currency="PLN"
                class="input-full-width"
                autocomplete="off"
                [min]="0"
                [max]="99999.99"
                [style]="{ width: '100%' }"
              ></p-inputNumber>
              <label for="city">Kwota</label>
            </p-floatLabel>
            <small class="custom-error" *ngIf="isFieldInvalid('price')">
              Proszę podać poprawną kwote
            </small>

            <p-floatLabel>
              <input
                (input)="capitalizeFirstLetter($event, 'description')"
                pInputText
                id="description"
                name="description"
                type="text"
                formControlName="description"
                class="input-full-width"
                autocomplete="off"
              />
              <label for="description">Opis (opcjonalne)</label>
            </p-floatLabel>
          </form>
        </div>
      </div>

      <!-- Second Form -->
      <div *ngIf="currentStep === 2" class="add-new-product-panels">
        <div class="form-step" [@slideAnimation]="'in'">
          <app-new-product-add-new-property
            [productPropertiesList]="productPropertiesList"
          ></app-new-product-add-new-property>
          <h6>Grupy</h6>
          <app-new-product-properties-list
            [productPropertiesList]="productPropertiesList"
            [selectedProductProperties]="
              modifiedProduct?.productPropertiesList ?? []
            "
            (onChangeCheckedBoxes)="onChangeCheckedBoxes($event)"
          ></app-new-product-properties-list>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="footer">
      <button
        *ngIf="currentStep === 1"
        pButton
        type="button"
        [severity]="'success'"
        label="Dalej"
        icon="pi pi-arrow-right"
        (click)="nextStep()"
      ></button>
      <!-- 
        [disabled]="isFirstPageFormValid()"
         -->
    </div>
    <div class="footer">
      <button
        *ngIf="currentStep === 2"
        pButton
        type="button"
        [severity]="'success'"
        label="Zatwierdź"
        icon="pi pi-check"
        (click)="onCreateNewProduct()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
