::ng-deep .custom-dialog .p-dialog {
  width: 80%;
  height: 80%;
  max-width: 900px;
}

::ng-deep .custom-text-button .p-button {
  padding: 0;
  margin-bottom: 1rem;
}

::ng-deep .input-full-width .p-inputtext .custom-h4 {
  margin: 0px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.add-new-product-panels {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;

  .form-step {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.category-form {
  display: flex;
  align-items: end; /* Vertically center input and button */
  justify-content: space-between; /* Push input and button to edges */
  gap: 1rem; /* Spacing between input and button */
  height: 4.5rem; /* Fixed height */
  width: 100%; /* Full width of the container */
}

.input-wrapper {
  flex: 1; /* Take all available space except for the button */
}

.category-input {
  width: 100%; /* Make input fill its container */
}

.input-full-width {
  width: 100%;
  height: 48px;
  display: block;
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  width: 100%; /* Optional: make the footer span the entire page width */
}

.content-container {
  display: flex;
  flex-direction: column; /* Allow children to expand vertically */
  height: 100%;
  overflow-x: hidden;
}

small.custom-error {
  color: red;
}
