:host {
  width: 99%; // Take the full width of the parent container
  max-width: 99%; // Prevent overflow beyond the screen
  max-width: 1100px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem 5px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 1rem 5px;
}

:host
  ::ng-deep
  .p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-filter-container
  .p-inputtext {
  // iacznej tylye childow sie nie odswizaja, to jest ten imput ttext w drop poxie statusow (inaczej wielkosc jest zalezna od wielkosci statusu xd)
  min-width: 175px; // Your desired width
  max-width: 175px; // Your desired width
}

// Media query for smaller screens
@media (max-width: 768px) {
  .table-header {
    margin: 0px; // Reduced margin on smaller screens
  }

  ::host {
    padding-left: 125px;
    padding-right: 125px;
  }
}

@media (max-width: 480px) {
  .table-header {
    margin: 0px; // Further reduced margin on mobile screens
  }
}

:host ::ng-deep .p-multiselect .p-multiselect-trigger {
  width: 25px;
}

:host ::ng-deep .p-multiselect .p-multiselect-label {
  padding: 0.75rem 0.05rem 0.75rem 0.25rem;
}
:host ::ng-deep .p-datatable .p-datatable-header {
  font-weight: normal;
}

.search-container {
  display: flex;
  /* Enables flexbox */
  justify-content: center;
  /* Aligns items to the right */
}

.description-container {
  display: block;
  /* Treat it as a block element */
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) */
  width: 200px;
  /* Set your desired width */
  cursor: pointer;
  /* Indicate it's hoverable */
}

.description-container:hover {
  overflow: visible;
  /* Show the full text on hover */
  white-space: normal;
  /* Allow text to wrap */
  position: absolute;
  /* Position it absolutely */
  z-index: 10;
  /* Bring it to the front */
  background: white;
  /* Optional: background color for better visibility */
  border: 1px solid #ccc;
  /* Optional: border for clarity */
  padding: 5px;
  /* Optional: padding for better aesthetics */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* Optional: shadow for better visibility */
}

.filters {
  padding: 10px;
  display: flex;
  gap: 25px 15px;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

h3 {
  font: 400 1.25rem / 1.75rem Roboto, sans-serif;
  letter-spacing: 0.031rem;
  margin-left: 2rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #37474f;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
