@import "ngx-toastr/toastr";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


:root {
    --my-primary-color: #5be400;
    --secondary-color: #fff;
    --purple-color: #322653;
    --font-stack: 'Arial', sans-serif;
  }

html{
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--my-primary-color) ;
    overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0;
  font-family: var(--font-family);
}
