@import "ngx-toastr/toastr";
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "src/assets/mytheme/theme.scss";
@import "assets/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  // --primary-color1: #322653;
  // --primary-color1-transparent: rgba(128, 0, 128, 0.4);
  // --primary-color2: #FFFDF2;

  // --primary-color1: #1c1435;
  // --primary-color2: #FFFDF2;
  // --primary-color1-transparent: #322653c7;
  // --primary-green: #7dd683de;

  --primary-color1: #101820;
  --primary-color2: #fff;
  --primary-color1-transparent: #101820b7;
  // --primary-green: #e0fcca;
  --primary-green: #c3f79b;

  // --primary-color1: #031230; //FFFDF2
  // --primary-color2: #fff;
  // --primary-color1-transparent: #04173dd0;
  // --primary-green: #5fcf8e;


  // --primary-color1: #08200f;
  // --primary-color2: #fff;
  // --primary-color1-transparent: #061d0cd2;
  // --primary-green: #eef081;

  // --primary-color1: #141414;
  // --primary-color2: #fff;
  // --primary-color1-transparent: #141414cc;
  // --primary-green: #e0fcca;


  // --primary-green: #59c500;???
  
  --primary-white: #fff;
  --font-stack: "Arial", sans-serif;
  //lightgreen pownien byc moze w konwersacji?
}

html {
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color2);
  overflow-x: hidden;
  font-family: var(--font-family);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif !important; // Force Inter for all headings
}