<app-header-logged-in></app-header-logged-in>

<div class="container">
    <div class="order-panel">
        <div class="order-panel-filter">
            <div class="order-panel-filter-label" (click)="getActiveOrders()">
                <p>Aktywne zamówienia</p>
            </div>
            <div class="order-panel-filter-label" (click)="getAllOrders()">
                <p>Aktywne zamówienia</p>
            </div>
        </div>
        <div class="order-panel-orders"></div>
        <div class="order-panel-orders-info"></div>
    </div>
</div>