p {
    color: var(--my-primary-color);
    font: var(--font-stack);
    transition: color 0.3s ease;
    &:hover {
      color: #ccc;
    }
    height: 100%;
    width: 100%;
}

.order-panel {
    padding: 50px;
    width:100%;
    height: 900px;
}

.order-panel-filter {
    width:100%;
    height: 8%;
}

.order-panel-filter-label {
    margin-left: 20px;
    display: inline-block;
    width:20%;
    height: 55%;
    background-color: var(--secondary-color);
    color: var(--my-primary-color);
    text-align: center;
    vertical-align: middle;
    line-height: 55%;       /* The same as your div height */
    border-radius: 8px;
    cursor: pointer;
    

}

.order-panel-orders {
    display: inline-block;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 100%;
}

.order-panel-orders-info {
    display: inline-block;

    background-color: #ffffff;
    padding: 20px;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 100%;

    /* Center the container */
}