/* Define a mixin for common styles */
@mixin menu-item {
  color: #d4d4d4;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  height: 45px;
  font-size: 16px;
  max-width: 165px;
  min-width: 115px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  .nav-links {
    list-style: none;
    display: flex;
    gap: 0.5rem;

    li a {
      @include menu-item;

      &:hover {
        //box-shadow: 0px 0px 20px rgba(241, 241, 241);
        background-color: rgb(241, 241, 241);
        color: #6c6c6c;
      }

      &.active {
        color: #000000;
        // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
        background-color: rgb(241, 241, 241);

        // border-radius: 5%;
      }
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-toolbar {
  background-color: var(--primary-color1);
  background-color: var(--primary-color1);
  color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.mat-toolbar {
  color: #f0f0f0 !important;
}

.custom-toolbar button:not(:last-child) {
  margin-right: 10px;
}

.logo-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 135px;
}
